﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.6.2.min.js")"></script>
    @RenderSection("JavaScript", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Llechfan Hostel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create Booking", "CreateBooking", "Home")</li>
                    <li>@Html.ActionLink("View Bookings", "ViewBookings", "Home")</li>
                    @{
                        try
                        {
                            // These navigation bar links are only shown if a user is logged in as an admin, else they will not be visible
                            string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();

                            if (userID == "1")
                            {
                                <li>@Html.ActionLink("View Users", "ViewUsers", "Home")</li>
                                <li>@Html.ActionLink("Booking Calendar", "BookingCalendar", "Home")</li>
                            }
                        }
                        catch
                        {

                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PRDC251i</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
