﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using Hostel2.Models
@model Booking


@{
    ViewBag.Title = "CreateBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
    <!-- Contains the booking validation -->
    <script type="text/javascript" src="@Url.Content("/Scripts/scripts.js")"></script>
}
@{
    // The try command that is featured on each page is to check to see if a user is logged in. If not, the error is caught and the page is not displayed, instead offering links to log in.
    try
    {
        string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).membershipID.ToString();
        string roleID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();

        var today = DateTime.Today;
        var age = today.Year - HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).DateOfBirth.Year;
        if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).DateOfBirth > today.AddYears(-age))
        {
            age--;
        }


        if (HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 1 || HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID == 3)
        {
            <h2>Create Booking</h2>
            

            using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div id="age" hidden>@age.ToString()</div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Member ID*</b>
                        </div>
                        <div class="col-md-10">
                            @{
                                if (roleID == "1")
                                {
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Member ID must be a number." data-val-required="The Member ID field is required." id="MemberID" name="MemberID" type="number">
                                }
                                else
                                {
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Member ID must be a number." data-val-required="The Member ID field is required." id="MemberID" name="MemberID" type="number" value="@Html.Raw(userID)" readonly>
                                }
                            }
                            </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Check In Date*</b>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CheckInDate, new { htmlAttributes = new { @class = "form-control", type = "date", style = "width: 500px;" } })
                            @Html.ValidationMessageFor(model => model.CheckInDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Check Out Date</b>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control", type = "date", style = "width: 500px;" } })
                            @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @{
                        List<SelectListItem> listNumbers = new List<SelectListItem>();
    listNumbers.Add(new SelectListItem
                        {
                            Text = "0",
                            Value = "0"
                        });
                        listNumbers.Add(new SelectListItem
                        {
                            Text = "1",
                            Value = "1"
                        });
                        listNumbers.Add(new SelectListItem
                        {
                            Text = "2",
                            Value = "2"
                        });
                        listNumbers.Add(new SelectListItem
                        {
                            Text = "3",
                            Value = "3"
                        });
                        listNumbers.Add(new SelectListItem
                        {
                            Text = "4",
                            Value = "4"
                        });
                        listNumbers.Add(new SelectListItem
                        {
                            Text = "5",
                            Value = "5"
                        });
                        listNumbers.Add(new SelectListItem
                        {
                            Text = "6",
                            Value = "6"
                        });

                    }

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Adult Males*</b>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AdultMales, listNumbers, "Please select", new { @class = "form-control", id= "Adultmales" })
                            @Html.ValidationMessageFor(model => model.AdultMales, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Adult Females*</b>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AdultFemales, listNumbers, "Please select", new { @class = "form-control", id = "Adultfemales" })
                            @Html.ValidationMessageFor(model => model.AdultFemales, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Youth Males*</b>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.YouthMales, listNumbers, "Please select", new { @class = "form-control", id = "Youthmales" })
                            @Html.ValidationMessageFor(model => model.YouthMales, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Youth Females*</b>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.YouthFemales, listNumbers, "Please select", new { @class = "form-control", id = "Youthfemales" })
                            @Html.ValidationMessageFor(model => model.YouthFemales, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" onclick="return BookingAgeValidation()"/>
                        </div>
                    </div>
                </div>
                        }
                        <div>
                            @Html.ActionLink("Back to Booking List", "ViewBookings")
                        </div>
                        }
                        else
                        {
                            <br />
                            <h3>Only confirmed accounts can view this page. </h3>
                            }
                        }
                        catch
                        {
                            <br />
                            <h3>You are not logged in, and therefore cannot access this page. Please @Html.ActionLink("Login", "Login", "Account")  here.</h3>
                        }

}
