﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model Hostel2.Models.Booking

@{
    ViewBag.Title = "EditBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    try
    {
        string roleID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();

        <h2>Edit Booking</h2>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Booking #@Model.BookingID</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.BookingID)

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Member ID</b>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MemberID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MemberID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Check In Date</b>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.CheckInDate, new { @Value = Model.CheckInDate.ToString("yyyy-MM-dd"), @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(model => model.CheckInDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Check Out Date</b>
                    </div>
                    <div class="col-md-10">

                        @{
                            if (Model.CheckOutDate == null)
                            {
                                @Html.EditorFor(model => model.CheckOutDate, new { htmlAttributes = new { @class = "form-control", type = "date", style = "width: 500px;" } })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.CheckOutDate, new { @Value = Model.CheckOutDate.Value.ToString("yyyy-MM-dd"), @class = "form-control", type = "date" })
                            }
                        }
                        @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{
                    List<SelectListItem> listNumbers = new List<SelectListItem>();
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "0",
                        Value = "0"
                    });
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "1",
                        Value = "1"
                    });
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "2",
                        Value = "2"
                    });
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "3",
                        Value = "3"
                    });
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "4",
                        Value = "4"
                    });
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "5",
                        Value = "5"
                    });
                    listNumbers.Add(new SelectListItem
                    {
                        Text = "6",
                        Value = "6"
                    });
                }

                @{
                    List<SelectListItem> listRooms = new List<SelectListItem>();
                    listRooms.Add(new SelectListItem
                    {
                        Text = "Blue",
                        Value = "Blue"
                    });
                    listRooms.Add(new SelectListItem
                    {
                        Text = "Yellow",
                        Value = "Yellow"
                    });
                    listRooms.Add(new SelectListItem
                    {
                        Text = "Green",
                        Value = "Green"
                    });

                }

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Adult Males</b>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AdultMales, listNumbers, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AdultMales, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Adult Females</b>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.AdultFemales, listNumbers, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AdultFemales, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Youth Males</b>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.YouthMales, listNumbers, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YouthMales, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <b>Youth Females</b>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.YouthFemales, listNumbers, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YouthFemales, "", new { @class = "text-danger" })
                    </div>
                </div>
                @if (roleID == "1")
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Confirmed, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Confirmed)
                                @Html.ValidationMessageFor(model => model.Confirmed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <b>Room Allocation</b>
                        </div>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.RoomAllocation, listRooms, "Please select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RoomAllocation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                }


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "ViewBookings")
                    </div>

                    }
                    catch
                    {
                        <br />
                        <h3>You are not logged in, and therefore cannot access this page. Please @Html.ActionLink("Login", "Login", "Account")  here.</h3>
                    }
}

