﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model Hostel2.Models.Booking

@{
    ViewBag.Title = "View Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/scripts.js")"></script>
}

@{
    try
    {
        string userID = HttpContext.Current.GetOwinContext().GetUserManager<Hostel2.ApplicationUserManager>().FindById(Context.User.Identity.GetUserId()).RoleID.ToString();

        <h2>Booking Details</h2>

        <div>
            <h4>Booking #@Model.BookingID</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Member ID:
                </dt>

                <dd id="memberID">
                    @Model.MemberID
                </dd>

                <dt>
                    Check In Date:
                </dt>

                <dd id="checkInDate">
                    @Model.CheckInDate.ToShortDateString()
                </dd>

                <dt>
                    Check Out Date:
                </dt>

                <dd id="checkOutDate">
                    @try
                    {
                        @Model.CheckOutDate.ToString().Substring(0, 10)
                    }
                    catch {
                        <div>Not given</div>
                    }
                </dd>

                <dt>
                    Adult Males:
                </dt>

                <dd id="adultMales">
                    @Model.AdultMales
                </dd>

                <dt>
                    Adult Females:
                </dt>

                <dd id="adultFemales">
                    @Model.AdultFemales
                </dd>

                <dt>
                    Youth Males:
                </dt>

                <dd id="youthMales">
                    @Model.YouthMales
                </dd>

                <dt>
                    Youth Females:
                </dt>

                <dd id="youthFemales">
                    @Model.YouthFemales
                </dd>

                <dt>
                    Confirmed:
                </dt>

                <dd id="confirmed">
                    @Model.Confirmed
                </dd>

                <dt>
                    Room Allocated:
                </dt>

                <dd id="roomAllocated">
                    @Model.RoomAllocation
                </dd>
            </dl>
                <input type="button" onclick="ConfirmBookingValidation()" value="Check Validation" class="btn btn-default" />
            <br />
            <br />
        </div>
        <p>
            @Html.ActionLink("Edit This Booking", "EditBooking", new { id = Model.BookingID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    }
    catch
    {
        <br />
        <h3>You are not logged in, and therefore cannot access this page. Please @Html.ActionLink("Login", "Login", "Account")  here.</h3>
    }

}

